{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- Add steps dynamically -->
<div class="panel panel-white" style="height: 550px">

    <form action="#">
        <div class="panel-body">
            
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group has-feedback">
                        <label class="control-label col-lg-3" for="topic-name">Topic Name <span class="text-danger">*</span></label>
                        <input type="text" name="topic_name" class="form-control" placeholder="AI Presentation">
                        <div class="form-control-feedback">
                            <i class="icon-file-text"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group has-feedback">
                        <label class="control-label col-lg-3" for="number-of-slides">No Of Slides <span class="text-danger">*</span></label>
                        <input type="number" name="no_of_slides" class="form-control" placeholder="1 to 100">
                        <div class="form-control-feedback">
                            <i class="icon-list-numbered"></i>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-7">
                    <div class="form-group has-feedback">
                        <label class="control-label col-lg-3" for="user-role">User Role <span class="text-danger">*</span></label>
                        <input type="text" name="user_role" class="form-control" placeholder="What Is Your Role">
                        <div class="form-control-feedback">
                            <i class="icon-user"></i>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5">
                    <div class="form-group has-feedback">
                        <label class="control-label col-lg-3" for="tone-select">Tone <span class="text-danger">*</span></label>
                        <select name="tone" class="form-control">
                            <option value="professional">Professional</option>
                            <option value="casual">Casual</option>
                            <option value="persuasive">Persuasive</option>
                            <option value="informative">Informative</option>
                            <option value="humorous">Humorous</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form-group has-feedback">
                        <label class="control-label col-lg-3" for="target-audience">Target Audience <span class="text-danger">*</span></label>
                        <input type="text" name="target_audience" class="form-control" placeholder="Who Is Your Target Audience">
                        <div class="form-control-feedback">
                            <i class="icon-user"></i>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5">
                    <div class="form-group has-feedback">
                        <label class="control-label col-lg-3" for="template-select">Templates <span class="text-danger">*</span></label>
                        <select name="template_choice" class="form-control">
                            <option value="dark_modern">Dark Modern</option>
                            <!-- Add more template options as needed -->
                        </select>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group has-feedback">
                        <label class="control-label col-lg-3" for="prompt">Prompt <span class="text-danger">*</span></label>
                        <textarea name="prompt" rows="5" class="form-control" placeholder="Describe What You Want In Detail"></textarea>
                        <div class="form-control-feedback">
                            <i class="icon-file-text"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="suggest_pictures" class="styled">
                        <a href="#">Suggest Some Pictures Also</a>
                    </label>
                </div>
            </div>
            
            <div class="text-right">
                <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10">
                    <b><i class="icon-power2"></i></b> Create Presentation
                </button>
            </div>
        </div>
    </form>
</div>
<!-- /add steps dynamically -->
{% endblock %}
