{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="panel panel-white" id="presentationDiv" style="height: 550px;">
    <form id="presentationForm" method="post" onsubmit="submitForm(event)">
        {% csrf_token %}
        <div class="panel-body">
            <div class="row">
                <!-- Topic Name and Number of Slides -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="topic-name">Topic Name <span class="text-danger">*</span></label>
                        <input type="text" name="topic_name" class="form-control" placeholder="AI Presentation" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="number-of-slides">No Of Slides <span class="text-danger">*</span></label>
                        <input type="number" name="no_of_slides" class="form-control" placeholder="1 to 100" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- User Role and Tone -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="user-role">User Role <span class="text-danger">*</span></label>
                        <input type="text" name="user_role" class="form-control" placeholder="What Is Your Role" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tone-select">Tone <span class="text-danger">*</span></label>
                        <select name="tone" class="form-control" required>
                            <option value="professional">Professional</option>
                            <option value="casual">Casual</option>
                            <option value="persuasive">Persuasive</option>
                            <option value="informative">Informative</option>
                            <option value="humorous">Humorous</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Target Audience and Template Choice -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="target-audience">Target Audience <span class="text-danger">*</span></label>
                        <input type="text" name="target_audience" class="form-control" placeholder="Who Is Your Target Audience" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="template-select">Templates <span class="text-danger">*</span></label>
                        <select name="template_choice" class="form-control" required>
                            <option value="dark_modern">Dark Modern</option>
                            <!-- Add more template options as needed -->
                        </select>
                    </div>
                </div>
            </div>
            <!-- Prompt -->
            <div class="form-group">
                <label for="prompt">Description <span class="text-danger">*</span></label>
                <textarea name="prompt" rows="7" class="form-control" placeholder="Describe What You Want In Detail" required></textarea>
            </div>

            <!-- Submit Button -->
            <div class="text-right">
                <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10">
                    <b><i class="icon-power2"></i></b> Create Presentation
                </button>
            </div>
        </div>
    </form>
</div>

<div class="timeline-row" id="pptShow" style="display: none;">
    <div class="panel panel-white" style="height: 550px;">
        <div class="panel-heading">
            <h6 class="panel-title">Presentation Preview</h6>
            <div class="heading-elements">
                <div class="form-group">
{#                    <button id="editButton" type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10" onclick="editForm()">#}
{#                        <b><i class="icon-pencil5"></i></b> Edit#}
{#                    </button>#}
                    <a id="downloadButton" href="#" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10">
                        <b><i class="icon-download"></i></b> Download
                    </a>
                </div>
            </div>
        </div>

        <div class="panel-body" style="position: relative;">
            <div id="slideshow" style="display: none; width: 100%; height: 550px;">
                <div id="pptxContainer"></div>
                
                <div class="text-center">
                    <button id="prevSlide" class="btn bg-teal-400 btn-labeled btn-labeled-left ml-10">
                        <b><i class="icon-arrow-left8"></i></b> Previous
                    </button>
                    <button id="nextSlide" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10">
                        <b><i class="icon-arrow-right8"></i></b> Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loader" class="panel panel-body border-top-danger text-center" style="display: none; width: 150px; margin-left: 450px; margin-top: 200px;">
    <div class="pace-demo">
        <div class="theme_squares">
            <div class="pace-progress" data-progress-text="60%" data-progress="60"></div>
            <div class="pace_activity"></div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/pptxgenjs"></script>
    
<script>
    function getCsrfToken() {
        const csrfCookie = document.cookie.split('; ').find(row => row.startsWith('csrftoken='));
        if (csrfCookie) {
            return csrfCookie.split('=')[1];
        }
        return null;
    }

    function submitForm(event) {
        event.preventDefault();

        const form = document.getElementById('presentationForm');
        const formData = new FormData(form);

        const pptDiv = document.getElementById('presentationDiv');
        const loader = document.getElementById('loader');
        const pptContainer = document.getElementById('pptShow');
        const downloadButton = document.getElementById('downloadButton');
        
        pptDiv.style.display = 'none';
        loader.style.display = 'block';

        const csrfToken = getCsrfToken();

        fetch("{% url 'generate_presentation' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: formData
        })
        .then(response => {
            if (response.ok) {
                return response.blob();
            } else {
                throw new Error('Failed to generate the presentation.');
            }
        })
        .then(async blob => {
            const url = window.URL.createObjectURL(await blob);

            loader.style.display = 'none';
            pptContainer.style.display = 'block';
            
            downloadButton.href = url;
            downloadButton.download = `${formData.get('topic_name')}.pptx`;
        })
        .catch(error => {
            loader.style.display = 'none';
            pptDiv.style.display = 'block';
            alert('An error occurred. Please try again.');
            console.error('Error:', error);
        });
    }
    
</script>
{% endblock %}
