{% extends 'dashboard/base.html' %}

{% block content %}
<!-- Section header -->
<div class="page-header">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat">
                <div class="page-header-content">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Tutorials</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Section header -->
<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="video-container content-group">
                <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126545288?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="video-container content-group">
                <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126545288?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="video-container content-group">
                <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126545288?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}